/* CSS declarations go here */
.brand-logo {
    height: 100%;
    width: 30%;
    margin-left: 30px;
}

#nav-mobile {
    padding-top: 75px;
    margin-right: 40px;
    height: 200px;
}

/* styles for '...' */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}

.options {
    color: rgb(27, 107, 182);
    font-weight: bold;
    font-size: 2rem;
}

nav {
    height: 300px;
    line-height: 300px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 30px;
    line-height: 30px;
}

nav .button-collapse i {
    height: 30px;
    line-height: 30px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 200px !important;
        line-height: 30px;
    }
}

.git {
    height: 5%;
    width: 5%;
}

.label{
    font-style: italic;
}

.dominant{
    font-weight: bold;
}

.joy {
    background-color: rgb(255, 255, 153);
}

.anger {
    background-color: rgb(255, 153, 204)
}

.disgust{
    background-color: rgb(204, 153, 255);
}

.fear{
    background-color: rgb(153, 255, 204);
}

.sadness{
    background-color: rgb(153, 204, 255);
}
